# conjunto de paquetes necesario para el tracking
# se deben instalar en la carpeta vendor
# para instalar ejecutar pip install -U -t lib -r requirements.txt

appengine_toolkit
django-filter==0.12
django==1.9.*
django-debug-toolbar
djangorestframework==3.3.2
gaerpytz==2015.7
google-api-python-client
GoogleAppEngineCloudStorageClient
markdown==2.6.5
requests==2.9.*
sendgrid==1.6.22
simplejson==3.8.2
six==1.10
smtpapi==0.3.1
suds-jurko
tablib==0.11.2