# conjunto de paquetes necesario para el tracking
# se deben instalar en la carpeta vendor
# para instalar ejecutar pip install -U -t lib -r requirements.txt

appengine_toolkit==0.1.*
django-filter==0.13
django==1.9.*
django-debug-toolbar==1.6
djangorestframework==3.4.7
gaerpytz
google-api-python-client==1.5.4
GoogleAppEngineCloudStorageClient==1.9.22.1
markdown==2.6.7
requests==2.11
sendgrid==3.6
simplejson==3.9
six==1.10
smtpapi==0.3.1
suds-jurko==0.6
tablib==0.11.2
