# conjunto de paquetes necesario para el tracking
# se deben instalar en la carpeta vendor
# para instalar ejecutar pip install -U -t lib -r requirements.txt

appengine_toolkit
django-filter==0.11
django==1.9.*
django-debug-toolbar
djangorestframework==3.3.1
gaerpytz==2015.6
GoogleAppEngineCloudStorageClient
markdown==2.6.5
#pytz==2015.7
sendgrid==1.5.18
simplejson==3.8.1
six==1.10
smtpapi==0.3.1
tablib==0.10